.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.auth-box {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

    .auth-box h2 {
        margin-bottom: 20px;
        font-size: 1.5rem;
        color: #333;
    }

    .auth-box input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1rem;
    }

        .auth-box input:focus {
            border-color: #646cff;
            outline: none;
        }

    .auth-box button {
        width: 100%;
        padding: 10px;
        background-color: gray;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .auth-box button:hover {
            background-color: darkgrey;
        }

    .auth-box p {
        margin-top: 15px;
        color: #666;
    }

    .auth-box a {
        color: #646cff;
        text-decoration: none;
        font-weight: 500;
    }

        .auth-box a:hover {
            text-decoration: underline;
        }
